
body.theme-Dark {
    $bg-color: #272822;
    $bg-alt-color: #333333;
    $border-color: #444444;
    $text-color: #eeeeee;

    background-color: $bg-color;
    color: $text-color;

    a, a:visited {
        color: $text-color;
    }

    div.header-view {
        border-bottom: 1px solid $border-color;
        background-color: $bg-alt-color;

        .site-info, .btn {
            border-right: 1px solid $border-color;
        }
    }

    div.output-view {
        background-color: $bg-alt-color;
    }

    div.testrunner-view {
        background-color: $border-color;

        .btn {
            border-left: 1px solid $border-color;
        }
    }

    div.view-header {
        background-color: $bg-color;
        border-bottom: 1px solid $border-color;
    }

    .btn {
        color: $text-color;
    }
    .btn:hover {
        background-color: $gherkin-alt-color;
        color: $gherkin-text-color
    }

    .btn-run {
        background-color: $gherkin-color;
        color: white;
    }

    .btn-running, .btn-running:hover, .btn-norun, .btn-norun:hover {
        background-color: $bg-alt-color;
        color: $text-color;
        cursor: wait;
    }

    .btn-liked, .btn-liked:hover, .btn-unliked:hover {
        color: #db15d8;
        background-color: $bg-alt-color;
    }

    .Dropdown-control {
        background-color: $bg-color;
        border: 1px solid $border-color;
        color: $text-color;
    }
    .Dropdown-menu {
        background-color: $bg-color;
        border: 1px solid $border-color;
        color: $text-color;
    }
    .Dropdown-option {
        color: $text-color;
    }
    .Dropdown-option:hover {
        background-color: $gherkin-alt-color;
        color: $gherkin-text-color
    }
    .Dropdown-option.is-selected {
        background-color: $gherkin-color;
        color: $gherkin-text-color
    }

    .popup-content {
        color: $text-color;
        background: $bg-color !important;
        border: 1px solid $border-color !important;
    }

    .popup-arrow {
        color: $text-color;
        background: $bg-color !important;
        border-bottom: 1px solid $border-color !important;
        border-right: 1px solid $border-color !important;
    }

    input.commands {
        color: white;
    }

    .jam-name-editable input {
        color: $text-color;
        border: 1px solid $border-color;
    }

    .site-info, .btn {
        border-right: 1px solid $border-color;
    }

    .link-item {
        border: 1px solid $border-color;
        background-color: $bg-alt-color;
        border-radius: 7px;
    }
    .link-item:hover {
        background-color: $gherkin-alt-color;
    }
}