@use 'colors';

body.theme-Light {
    $bg-color: #dddddd;
    $bg-alt-color: #eeeeee;
    $border-color: #bdbdbd;
    $text-color: black;

    background-color: $bg-color;

    a, a:visited {
        color: $text-color;
    }

    div.header-view {
        border-bottom: 1px solid $border-color;
        background-color: $bg-alt-color;

        .site-info, .btn {
            border-right: 1px solid $border-color;
        }    
    }

    div.output-view {
        background-color: $bg-alt-color;
    }

    div.testrunner-view {
        background-color: $border-color;

        .btn {
            border-left: 1px solid $border-color;
        }
    }
    
    div.view-header {
        background-color: $bg-color;
        border-bottom: 1px solid $border-color;
    }

    .btn {
        color: black;
    }
    .btn:hover {
        background-color: colors.$gherkin-alt-color;
        color: colors.$gherkin-text-color;
    }

    .btn-run {
        background-color: colors.$gherkin-color;
        color: white;
    }

    .btn-running, .btn-running:hover, .btn-norun, .btn-norun:hover {
        background-color: $bg-alt-color;
        color: $text-color;
        cursor: wait;
    }

    .btn-liked, .btn-liked:hover {
        color: #db15d8;
        background-color: $bg-alt-color;
    }

    .btn-unliked:hover {
        color: #db15d8;
        background-color: $bg-alt-color;
    }

    .header-left .Dropdown-option {
        color: $text-color !important;
    }

    .Dropdown-option:hover {
        background-color: colors.$gherkin-alt-color;
        color: colors.$gherkin-text-color;
    }
      
    .Dropdown-option.is-selected {
        background-color: colors.$gherkin-color;
        color: colors.$gherkin-text-color;
    }

    input.commands {
        color: black;
    }

    .popup-myjams .myjam {
        border: 1px solid $border-color;        
        color: $text-color;
    }

    .popup-myjams .myjam:hover {
        background-color: colors.$gherkin-alt-color;
        color: colors.$gherkin-text-color;
    }

    .jam-name-editable input {
        color: $text-color;
        border: 1px solid $border-color;
    }

    .fork-tooltip .view-header {
        background-color: white;
    }

    .link-item {
        border: 1px solid $border-color;
        background-color: $bg-alt-color;
        border-radius: 7px;
    }
    .link-item:hover {
        background-color: colors.$gherkin-alt-color;
    }

    .footer {
        background-color: $bg-color;
        color: $text-color;
        border-top: 1px solid $border-color;
    }
}
