$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~react-dropdown/style.css";

@import "./themes/Dark.scss";
@import "./themes/Light.scss";

html,
body,
#app,
.app-container {
    width: 100%;
    height: 100%;    
    margin: 0;
    padding: 0;
    transition: opacity 400ms ease-out;
}

$gherkin-color: rgb(117, 206, 129);
$gherkin-text-color: #333333;

#loading {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $gherkin-color;
    color: white;

    > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 { font-size: 20pt; }
        h3 { font-size: 12pt; margin-left: 8px; }
    }
}

.view-header .Dropdown-control {
    border-top: 0 !important;
    margin-top: 1px !important;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-x: hidden;
}

.btn {
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

div.header-view {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45px;

    div.header-left, div.header-right {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;

        div.logo {
            display: inline-flex;
            align-items: center;
            img {
                height: 24px;
                margin-left: 9px;
            }
        }

        div.title {
            display: inline-flex;
            align-items: center;
            div {
                font-weight: normal;
                margin: 0;
                padding-left: 8px;
                font-size: 20px;
                height: 24px;
            }
        }
    
        div.item {
            display: inline-flex;
            align-items: center;
        }

        div.menu {
            display: inline-flex;
            align-items: center;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            text-align: center;
            font-size: 18px;
            padding: 12px 15px 12px 15px;                
        }
    }

    div.header-right {
        justify-content: flex-end;
    }
}

div.testrunner-view {
    height: calc(100% - 46px);
    width: 100%;
}

div.feature-view, div.stepdefinition-view {
    height: 100%;
    width: 100%;
    position: relative;
}

div.output-view {
    height: 100%;
    width: 100%;
    pre {
        margin-left: 10px;
        margin-right: 10px;
    }
}

div.view-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 32px;

    div.view-header-left, div.view-header-right {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;

        div.title {
            display: inline-flex;
            align-items: center;
            div {
                font-weight: normal;
                margin: 0;
                padding-left: 4px;
                font-size: 12px;
                height: 16px;
            }
        }

        div.item {
            display: inline-flex;
            align-items: center;
        }

        div.menu {
            display: inline-flex;
            align-items: center;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 16px;
            padding: 8px;
        }
    }

    div.view-header-right {
        justify-content: flex-end;
    }
}

div.editor-container {
    width: 100%;
    height: calc(100% - 33px);
}

div.output-container {
    width: 100%;
    height: calc(100% - 66px);
}

.commands {
    width: calc(100% - 50px);
}

input.commands {
    margin-left: 10px;
    width: 100%;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    border: 0;
}

.user-photo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}