@import "~react-dropdown/style.css";
@import '~react-notifications/lib/notifications.css';

html,
body,
#app,
.app-container {
    width: 100%;
    height: 100%;    
    margin: 0;
    padding: 0;
    transition: opacity 400ms ease-out;

    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Ubuntu, "Droid Sans", Arial, sans-serif;
    /* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-size: 10pt;
}

$loading-color: rgb(115, 205, 130);
$gherkin-color: #39B54A;
$gherkin-alt-color: rgb(115, 205, 130);
$gherkin-text-color: #333333;

@import "./themes/Dark.scss";
@import "./themes/Light.scss";

#loading {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $loading-color;
    color: white;

    > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 { font-size: 20pt; }
        h3 { font-size: 12pt; margin-left: 8px; }
    }
}

.view-header .Dropdown-control {
    border-top: 0 !important;
    margin-top: 1px !important;
    padding: 8px 52px 7px 10px !important;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-x: hidden;
}

.btn {
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

div.header-view {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45px;

    div.header-left, div.header-center, div.header-right {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;

        div.logo {
            display: inline-flex;
            align-items: center;
            img {
                height: 24px;
                margin-left: 9px;
            }
        }

        div.title {
            display: inline-flex;
            align-items: center;
            margin-right: 10px;

            div {
                font-weight: normal;
                margin: 0;
                padding-left: 8px;
                font-size: 20px;
                height: 24px;
            }
        }
    
        div.item {
            display: inline-flex;
            align-items: center;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            text-align: center;
            font-size: 18px;
            padding: 12px 15px 12px 15px;                
        }

        div.menu {
            display: inline-flex;
            align-items: center;
        }
    }

    div.header-right {
        justify-content: flex-end;
    }

    div.header-center {
        justify-content: center;
    }
}

div.testrunner-view {
    height: calc(100% - 46px);
    width: 100%;
}

div.feature-view, div.stepdefinition-view {
    height: 100%;
    width: 100%;
    position: relative;
}

div.output-view {
    height: 100%;
    width: 100%;
    pre {
        margin-left: 10px;
        margin-right: 10px;
    }
}

div.view-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 32px;

    div.view-header-left, div.view-header-right {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;

        div.title {
            display: inline-flex;
            align-items: center;
            margin-left: 5px;
            div {
                font-weight: normal;
                margin: 0;
                padding-left: 4px;
                font-size: 12px;
                height: 16px;
            }
        }

        div.item {
            display: inline-flex;
            align-items: center;
        }

        div.menu {
            display: inline-flex;
            align-items: center;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-size: 16px;
            padding: 8px;
        }
    }

    div.view-header-right {
        justify-content: flex-end;
    }
}

div.editor-container {
    width: 100%;
    height: calc(100% - 33px);
}

div.output-container {
    width: 100%;
    height: calc(100% - 66px);
}

.commands {
    width: calc(100% - 50px);
}

input.commands {
    margin-left: 10px;
    width: 100%;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    border: 0;
}

.ace_gutter, .ace_scrollbar {
    z-index: inherit !important;
}

.Dropdown-menu {
    z-index: 9999;
}

.Dropdown-option {
    text-decoration: none;
}

.Dropdown-option-disabled:hover {
    color: inherit !important;
    background-color: inherit !important;
    cursor: default !important;
}

.user-signin {
    font-size: 10pt !important;
    padding: 15px 25px 15px 25px !important;
}

.site-info {
    font-size: 10pt !important;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 8px 15px 8px 15px !important;

    img {
        height: 24px
    }

    .site-name {
        font-size: 20px;
        font-weight: 500;
        margin: 0 10px 0 10px;
    }
}

.user-info {
    font-size: 10pt !important;
    flex-direction: row;
    justify-content: space-between;
    /* min-width: 175px; */
    position: relative;
    padding: 8px 15px 8px 15px !important;

    img {
        border-radius: 50%;
        width: 30px;
        height: 30px
    }

    .user-name {
        margin: 0 15px 0 15px;
    }
}

.jam-info {
    font-size: 10pt !important;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 8px 15px 8px 15px !important;

    img {
        border-radius: 50%;
        width: 20px;
        height: 20px
    }

    .user-name {
        margin: 0 5px 0 5px;
    }
}

.item-fork {
    font-size: 16pt;
    cursor: pointer;
}

.fork-tooltip {
    padding: 5px;
    overflow: hidden;

    img {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
    .view-header {
        border-bottom: 0 !important;
    }
}

.jam-info {
    min-width: inherit;
}

.jam-name {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16pt;
}

.jam-name-editable {
    cursor: pointer;

    input {
        background-color: transparent;
        font-size: 16pt !important;
        border: 0;
        width: 100%;
        text-align: center;
    }
}

.about-photo {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.link-item {
    padding: 5px;
    text-decoration: none;
    margin: 12px;
    margin-right: 0;
    font-size: 14pt;
}

.btn-small {
    font-size: 12px !important;
    i {
        font-size: 18px !important;
        margin-right: 6px;
    }
}